<body>

    <div class="navbar">
        <a href="/dashboard" class="nav-button">Dashboard</a>
        <a href="/viewPolls" class="nav-button">View All Polls</a>
    </div>

    <div class="main-content">
        <h1>Create a New Poll</h1>
        <form action="/createPoll" method="POST">
            <div class="form-input-container">
                <label for="question">Poll Question:</label>
                <input type="text" id="question" name="question" required>
            </div>
            <div class="form-input-container">
                <label for="option1">Option 1:</label>
                <input type="text" id="option1" name="options[Option 1]" required>
            </div>
            <div class="form-input-container">
                <label for="option2">Option 2:</label>
                <input type="text" id="option2" name="options[Option 2]" required>
            </div>
            <button type="submit" class="action-button full-width">Create Poll</button>
        </form>

        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
        

        <% if (successMessage) { %>
            <p class="success-message"><%= successMessage %></p>
        <% } %>        
    </div>
</body>
</html>
