<body>
    <div class="navbar">
        <a href="/dashboard" class="nav-button">Dashboard</a>
        <a href="/createPoll" class="nav-button">Create Poll</a>
        <a href="/viewPolls" class="nav-button">View All Polls</a>
        <a href="/logout" class="nav-button">Logout</a>
    </div>

    <div class="main-content">
        <h1>Welcome, <%= user.username %>!</h1>
        <p>You are logged in. Here are some options:</p>
        <ul>
            <li><a href="/createPoll" class="action-button">Create a Poll</a></li>
            <li><a href="/viewPolls" class="action-button">View All Polls</a></li>
            <li><a href="/logout" class="action-button">Logout</a></li>
        </ul>
    </div>

    <script src="/frontend.js" type="application/javascript"></script>
</body>
