<head>
    <link rel="stylesheet" href="styles.css">  <!-- Link to the CSS file -->
</head>
<body>
    <div class="navbar">
        <a href="/" class="nav-button">Home</a>
    </div>

    <div class="main-container">
        <!-- Sign Up Heading -->
        <h1>Sign Up</h1>

        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>

        <!-- Sign Up Form -->
        <form action="/signup" method="POST" class="form-container">
            <div class="form-input-container">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="action-button">Sign Up</button>
        </form>

        <p class="redirect-link">
            Already have an account? <a href="/login" class="register-link">Log in!</a>
        </p>
    </div>
</body>
</html>