<head>
    <link rel="stylesheet" href="styles.css">  <!-- Link to the CSS file -->
</head>
<body>
    <div class="main-content">
        <!-- Welcome Heading -->
        <h1>Welcome to the Voting App</h1>
        
        <!-- Button Container -->
        <div class="button-container">
            <a href="/signup" class="action-button">Sign Up</a>
            <a href="/login" class="action-button">Log In</a>
        </div>
    </div>
</body>
</html>